<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MIangelo</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.jpg' %}">
</head>
<body>
    <div class="tiles-container">
        <a href="{% url 'landing_page_creator' %}" class="tile">
            <h2>Generator landing page'y</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the
                1500s, when an unknown printer took a galley of type and scrambled it
                to make a type specimen book.
            </p>
        </a>

        <a href="{% url 'landing_page_creator' %}" class="tile">
            <h2>Generator opisów produktów</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the
                1500s, when an unknown printer took a galley of type and scrambled it
                to make a type specimen book.
            </p>
        </a>

        <a href="{% url 'landing_page_creator' %}" class="tile">
            <h2>Tile 3</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the
                1500s, when an unknown printer took a galley of type and scrambled it
                to make a type specimen book.
            </p>
        </a>
    </div>
</body>
</html>