body {
    font-family: Tahoma, sans-serif;
    background: #333333;
    color: #000;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-content {
    font-family: Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98.6vh;
    margin: 0;
    padding: 0;
    width:100%;
}

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.tile {
    flex: 1 1 calc(25% - 6px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: #FFF;
    height: calc(50% - 6px);
    margin: 1px;
    padding: 5px;
}

.tile:hover {
    transition: 0.2s;
    background: #000;
}

.tile img {
    max-width: 50%;
    max-height: 50%;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
}

.tile h2 {
    font-family: Courier New;
    margin-bottom: 75px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: .7px;
}

.tile p {
    color: #666666;
    font-size: 14px;
    line-height: 1.6;
    overflow: hidden;
}

/* Responsive adjustments */
@media (max-width: 1023px) {
    .tile {
        flex: 1 1 calc(33.333% - 6px);
        height: calc(33.333% - 6px);
    }
}

@media (max-width: 768px) {
    .tile {
        flex: 1 1 calc(50% - 6px);
        height: calc(50% - 6px);
    }
}

@media (max-width: 480px) {
    .tile {
        flex: 1 1 calc(100% - 6px);
        height: calc(50% - 6px);
    }
}












.header-container {
    width: 100%;
    background: #FFF;
    box-shadow: 0 0 10px 20px rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 10px 0;
}

.form-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.form-container form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.back-button {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
}

.back-button:hover {
    text-decoration: underline;
}

.header-container label {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.header-container input[type="text"] {
    padding: 8px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    outline: none;
    width: 200px;
    background-color: #DBDBDB;
    border: 2px solid #00D4FF;
}

button[type="submit"] {
    background-color: #00D4FF;
    color: #000;
    border: none;
    padding: 9px 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #000;
}

button[type="submit"]:hover, .generate:hover {
    background: #FFF;
    transition: 0.3s;
}

.generate {
    background-color: #00D4FF;
    color: #000;
    border: none;
    padding: 9px 10px;
    font-size: 0.95rem;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #000;
    text-decoration: none;
}


.content-container {
    display: flex;
    margin: 100px auto 0 auto;
}

.widget {
    border: 4px solid #2a54de;
    border-radius: 25px;
    max-width: 350px;
    margin: 0 20px 50px 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.widget img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.widget .buy {
    text-align: center;
    background: #2a54de;
    color: #fff;
    margin: 10px;
    border-radius: 7px;
    padding: 12px 0;
    width: 280px;
    margin: 0 auto 20px auto;
}

.widget-category {
    text-align: center;
    margin-top: 10px;
}

.product-info {
    text-align: center;
    padding: 0 35px;
}

ul li{
    list-style: none;
}

.product-info li:first-child {
    color: #696969;
    font-size: 14px;
}

.product-info li:nth-child(2) {
    color: #000;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.product-info li:nth-child(3) {
    color: #FF6900;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}

.product-info li:nth-child(4) {
    color: #696969;
    display: inline-block;
    text-align: center;
    text-decoration: line-through;
    font-size: 15px;
    margin-top: 10px;
}

.product-info li:last-child {
    color: #696969;
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
}

.arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.form-group label {
    display: block;
    color: #FFF;
}

.form-group select,
.form-group input[type="text"] {
    width: 200px;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 14px;
    margin: 5px 0;
}

.html-editor, .blog-editor {
    margin: 0 0 50px 20px;
}

.html-editor h2, .blog-editor h2{
    color: #FFF;
}

.html-editor textarea {
    width: 400px;
    height: 450px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #e3e3e3;
    resize: vertical;
}

.blog-editor textarea {
    width: 400px;
    height: 450px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #e3e3e3;
    resize: vertical;
}

.file-content {
    margin: 0 auto;
    color: #FFF;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow-x: auto;
}

.file-content textarea {
    height: 500px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    resize: vertical;
}

.message {
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #000;
}

.error {
    color: #FF0000;
}

.success {
    color: #32CD32;
}

.chat-icon {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 70px;
    height: auto;
    transition: transform 0.3s ease;
    animation: pulse 1s infinite;
}

.chat-icon img {
    width: 100%;
    height: auto;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 100px;
    left: 20px;
    width: 350px;
    border-radius: 7px;
    border: 1px solid #DDD;
    z-index: 999;
    background: #FFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.chat-header {
    background: #fff;
    color: #000;
    padding: 5px 5px 5px 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-header .header-left {
    display: flex;
    align-items: center;
}

.chat-header .chatbot-img-container {
    position: relative;
    margin-right: 10px;
}

.chat-header .chatbot-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat-header .status-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.chat-header h2 {
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
}

.chat-header .status-text {
    color: #A9A9A9;
    font-size: 14px;
}

.chat-header .status-dot {
    position: absolute;
    bottom: 5px;
    right: 2px;
    width: 8px;
    height: 8px;
    background: #4CAF50;
    border-radius: 50%;
    border: 1px solid #FFF;
}

.chat-body {
    padding: 11px;
    background: #F4F4F4;
}

.chat-body #chatMessages {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
}

.chat-body #chatInput {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.close-btn {
    font-size: 25px;
    cursor: pointer;
    color: #000;
    margin-top:-35px;
}

.message-bot {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.message-bot .chatbot-img-container {
    margin-right: 5px;
}

.message-bot .chatbot-img {
    width: 30px;
    height: auto;
    border-radius: 50%;
}

.message-bot .message-text, .message-user .message-text {
    background-color: #FFE0B5;
    padding: 0 10px;
    border-radius: 5px;
    max-width: 70%;
    font-size: 14px;
}

.message-text button {
    background: #FFF;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 20px;
    max-width: 100%;
    font-size: 13px;
    border: 1px solid #808080;
    cursor: pointer;
    color: #737373;
}

.message-user {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.message-user .message-text {
    background-color: #D3E9D3;
    text-align: right;
    overflow: hidden;
    word-wrap: break-word;
}

.message-time {
    font-size: 12px;
    color: #888;
    margin: -5px 0 5px 0;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #DBDBDB;
  border-radius: 7px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.input-container input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.input-container button {
    color: #000;
    cursor: pointer;
    position: absolute;
    right: 1px;
    top: 15px;
    border: none;
}
